<!DOCTYPE html>
<html>

<head>
<style>
    h1 {
        font-size: 50px; 
        letter-spacing: -1px; 
        color: black; 
        text-transform: uppercase; 
        text-shadow: 1px 1px 0 #000, margin: 10px 0 24px; 
        text-align: center; 
        line-height: 50px; 
    }
</style>    
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>