<nav>
    <div>
        
        <span>
            <a href="/" class="">HOME</a>  | 
            <a href="/patients" class=""> Book Appointment</a>  |
            <a href="/patients/edit" class=""> Change Appointment</a>
            
        </span>
                    
       
    </div>
    
</nav>