<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<main>
    <style>
        h4  {
            text-align: center;
            font-size: 25px;
         }
    </style>

  <h4>You Delete it your Appointment.  </h4>
  <a href="/">Back to Main Page</a> 
    
</main>

<%- include('./partials/footer.ejs') %>
