<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<main>
  <style>
    
         body   {
             text-align: center;
             background-color: #f2f2f2;
         }
         form   {
             display: inline-block;
         }
         nav    {
          text-align: left;
         }
     
  </style>

  <h4>Change Your Appointment  </h4>
  <form method="POST" action="/patients/<%=patient.PIN%>?_method=PUT">
    <!-- NOTE: the form is pre-populated with values from the server  -->


    <label>
      <span>Please Enter Your  New Date:</span>
      <input type="datetime-local" name="Date" value="" />
    </label>
    
    <input type="submit" name="" value="Change Appointment"/>
    </form>
    
</main>

<%- include('./partials/footer.ejs') %>
