<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<main>

    <h1>WALTHAM MEDICAL CENTER</h1>
    
    
    <div>
        <img 
           src="https://www.mainehealth.org/-/media/Shared-Images/Hero-Banner-Images/Maine-Medical-Center/MMC-spring-sunset-2020.jpg" width="1875" height="690">
    </div>
</main>

<%- include('./partials/footer.ejs') %>