<main>

    <h1>WALTHAM MEDICAL CENTER</h4>
    <h2>APPOINTMENT PAGE</h6>
    
    <div>
        <img src="https://www.mayoclinic.org//-/media/kcms/gbs/patient-consumer/images/2019/10/28/15/57/fl-hero-2560x1040-picture019.jpg">
    </div>
</main>