<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APPOINTMENT FORM</title>
</head>
<body>
    <h1>APOOINTMENT FORM</h1>
    <form action="/patients" method="POST">
        PIN: <input type="number" name="PIN" /> <br/>
        Date: <input type="date" name="date" /> <br/>
        Name: <input type="text" name="name" /> <br/>
        DOB: <input type="date" name="dob" /> <br/>
        Address1: <input type="text" name="Address1" /> <br/>
        Address2: <input type="text" name="Address2" /> <br/>
        City: <input type="text" name="City" /> <br/>
        State: <input type="text" name="State" /> <br/>
        Zip Code: <input type="number" name="ZipCode" /> <br/>
        Phone Number: <input type="number" name="Phonenumber" /> <br/>
        e-mail: <input type="email" name="email" /> <br/>
        Insurance: <input type="text" name="Insurance" /> <br/>

        <input type="submit" value="Book Appointment" />    

    </form>

</body>
</html>



