body {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  nav{
    padding: 0 5px;
    display: inline;
  }
  
  main{
    padding: 0 10px;
    flex: 1 0 auto;
  }
  
  footer{
    display: flex;
    justify-content: center;
  }
  a{
    font-size: 20px;
  }
  h1    {
    font-size: 50px; 
    letter-spacing: -1px; 
    color: black; 
    text-transform: uppercase; 
    text-shadow: 1px 1px 0 #000, margin: 10px 0 24px; 
    text-align: center; 
    line-height: 50px; 
  }
  